* {
    box-sizing: border-box;
}
div{
    border: solid black;
    margin: 10px;
}

.parent {
    width: 1200px;
    height: 900px;
    background-color: red;
}

.child-1 {
    background-color: blue;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: flex-end;
}

.child-1-1 {
    background-color: green;
    flex: 0 0 50%;
    justify-content: flex-end;

}

.child-1-2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.child-2 {
    background-color: blue;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;


}

.child-2-1 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.child-2-2 {
    background-color: green;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: flex-end;

}

.child-2-3 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-coll {
    flex-direction: column;
}

.flex-j-between {
    justify-content: space-between;
}
